<div *ngIf = 'post; else preloader' class="post">
    <div class="header">
        <h1> {{ post.title }} </h1>
        <button routerLink = '/' class="btn btn-link">На главную</button>
    </div>
    <div class="info">
        <strong> {{ post.author }} </strong>
        <small> {{ post.date | date:'mediumDate':null:'ru' }} </small>
    </div>
    <div>
        <quill-view-html [content] = 'post.text'></quill-view-html>
    </div>
</div>

<ng-template #preloader>
    <h2>Загрузка...</h2>
</ng-template>
