<form class="card" [formGroup] = 'form' (ngSubmit) = 'onSubmit()'>
    <h2>Войти в панель администратора</h2>

    <div 
        *ngIf = 'error$ | async as message'
        class="alert alert-danger"
    > {{ message }} </div>

    <div 
        *ngIf = 'deniedMessage'
        class="alert alert-info"
    > {{ deniedMessage }} </div>

    <div 
        class="form-control"
        [ngClass] = 'getErrorClass("email")'
    >
        <label for="email">Email:</label>
        <input 
            id="email" 
            type='email'
            formControlName = 'email'
        >
        <div 
            *ngIf = 'isInvalid("email")'
            class="validation"
        >
            <small *ngIf = 'form.get("email").hasError("required")'>Поле обязательно для заполенения</small>
            <small *ngIf = 'form.get("email").hasError("email")'>Поле не соответствует типу email</small>
        </div>
    </div>
    <div 
        class="form-control"
        [ngClass] = 'getErrorClass("password")'
    >
        <label for="password">Password:</label>
        <input 
            id="password" 
            type='password'
            formControlName = 'password'
            #passwordRef
        >
        <div 
            *ngIf = 'isInvalid("password")'
            class="validation"
        >
            <small 
              *ngIf = 'form.get("password").hasError("required")'  
            >Поле обязательно для заполенения</small>
            <small 
              *ngIf = 'form.get("password").hasError("minlength")'  
            >
                Минимальное количество символов 
                {{ form.get('password').errors.minlength.requiredLength }}.
                Сейчас {{ passwordRef.value.length }}
            </small>
        </div>
    </div>
    <button 
        class="btn btn-primary" 
        type="submit"
        [disabled] = 'form.invalid || submitted'
    >Войти</button>
</form>