<div class="card">
    <div class="card-header">
        <h2>{{ post.title }}</h2>
        <small> {{ post.date | date:'mediumDate':null:'ru' }} </small>
    </div>

    <div>
        <small> {{ post.author }} </small>
    </div>
    
    <button
        [routerLink] = '["/post", post.id]'
        class="open btn btn-dark"
    >Открыть</button>
</div>
