<form [formGroup] = 'form' (ngSubmit) = 'onSubmit()'>
    <h1>Создание нового поста</h1>

    <div 
        class="form-control"
        [ngClass] = 'getErrorClass("title")'
    >
        <label for="title">Название поста:</label>
        <input 
            id="title" 
            type='text'
            formControlName = 'title'
        >
        <div 
            *ngIf = 'isInvalid("title")'
            class="validation"
        >
            <small *ngIf = 'form.get("title").hasError("required")'>Поле обязательно для заполенения</small>
        </div>
    </div>

    <div class="form-control">
        <label for="">Контент поста:</label>
        <quill-editor formControlName = 'text'></quill-editor>
    </div>

    <div 
        class="form-control"
        [ngClass] = 'getErrorClass("author")'
        >
        <label for="author">Автор поста:</label>
        <input 
            id="author" 
            type='text'
            formControlName = 'author'
        >
        <div 
            *ngIf = 'isInvalid("author")'
            class="validation"
        >
            <small *ngIf = 'form.get("author").hasError("required")'>Поле обязательно для заполенения</small>
        </div>
    </div>

    <button 
        class="btn btn-dark" 
        type="submit"
        [disabled] = 'form.invalid || submitted'
    >Создать</button>
</form>
<!-- title author btn btn-block btn-dark-->