<div class="form-control">
    <input type="text" placeholder="Найти пост" [(ngModel)] = 'searchString'>
</div>

<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Автор</th>
            <th>Название</th>
            <th>Дата</th>
            <th>Действие</th>
        </tr>
    </thead>
    <tbody *ngIf = 'posts; else preloader'>
        <tr *ngFor = 'let p of posts | filter:searchString; let idx = index'>
            <td>{{idx + 1}}</td>
            <td> {{ p.author }} </td>
            <td> {{ p.title }} </td>
            <td> {{ p.date | date:'mediumDate':null:'ru' }} </td>
            <td>
                <button 
                   class="btn btn-link open"
                   [routerLink] = "['/admin', 'post', p.id, 'edit']"
                >
                    Открыть
                </button>
                <a (click) = 'remove(p.id)'>Удалить</a>
            </td>
            <!-- <td [innerHTML] = 'p.text'></td> -->
        </tr>
    </tbody>
    <ng-template #preloader>
        <h2 class="loader">Загрузка...</h2>
    </ng-template>
    
</table>
