<nav class="navbar main">
    <h1>Angular Blog</h1>
    <button
    routerLink = '/admin'
    class="admin btn btn-dark"
>В кабинет</button>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>