<div *ngIf = 'post; else preloader'>
    <form [formGroup] = 'form' (ngSubmit) = 'onSubmit()'>
        <div 
            class="form-control"
            [ngClass] = 'getErrorClass("title")'
        >
            <label for="title">Название поста:</label>
            <input 
                id="title" 
                type='text'
                formControlName = 'title'
            >
            <div 
                *ngIf = 'isInvalid("title")'
                class="validation"
            >
                <small *ngIf = 'form.get("title").hasError("required")'>Поле обязательно для заполенения</small>
            </div>
        </div>


        <div class="form-control">
            <quill-editor formControlName = 'text'></quill-editor>
            <div 
                *ngIf = 'isInvalid("text")'
                class="validation"
             >
                <small *ngIf = 'form.get("text").hasError("required")'>Поле обязательно для заполенения</small>
            </div>
        </div>

        <button 
            class="btn btn-primary"
            type="submit"
            [disabled] = 'form.invalid || edited'
        >Обновить</button>
    </form>
</div>

<ng-template #preloader>
    <h2>Загрузка...</h2>
</ng-template>

