<nav class="navbar bg-primary">
    <h1>
        <a routerLink = '/'>Angular admin</a>
    </h1>
    <ul *ngIf = 'isAuthenticated()'>
        <li routerLinkActive = 'active' [routerLinkActiveOptions] = "{ exact: true }">
            <a [routerLink] = "['/admin', 'dashboard']">Главная</a>
        </li>
        <li routerLinkActive = 'active' [routerLinkActiveOptions] = "{ exact: true }">
            <a [routerLink] = '["/admin", "create"]'>Создать</a>
        </li>
        <li>
            <a href="#" (click) = 'logout($event)'>Выйти</a>
        </li>
    </ul>    
    
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>

<blog-alert></blog-alert>

