<div *ngIf = 'post$ | async as posts; else preloader' class="posts">
    <blog-post *ngFor = 'let p of posts' [post] = 'p'></blog-post>
</div>

<ng-template #preloader>
    <h2>Загрузка...</h2>
</ng-template>

